<div class="login_container">
  <div class="input_field">
    <input type="text" />
    <label>*Name</label>
  </div>
  <div class="input_field">
    <input type="text" />
    <label>*Password</label>
  </div>

  <!-- <mat-form-field appearance="outline" class="input">
    <mat-label>*Name</mat-label>
    <input matInput placeholder="Enter your name">
  </mat-form-field>
  <mat-form-field appearance="outline" class="input">
    <mat-label>*Password</mat-label>
    <input matInput placeholder="Enter Password">
  </mat-form-field> -->
  <button mat-fab extended color="primary" class="login_btn">Login</button>
</div>
