<div class="main_container">
  <app-header></app-header>
  <div class="main">
    <!-- Date & timer -->
    <div class="date_timer">
      <div class="date">
        Date:
        <strong>Mon Feb 06 2023</strong>
      </div>
      <div class="timer">
        <span class="material-symbols-outlined"> timer </span>
        <strong>00:00:32</strong>
      </div>
    </div>

    <!-- main -->
    <div class="box_container">
      <div class="boxes">
        <div class="box">1</div>
        <div class="box">1</div>
        <div class="box">1</div>
        <div class="box">1</div>
        <div class="box">1</div>
        <div class="box">1</div>
      </div>
      <div class="boxes">
        <div class="box">2</div>
        <div class="box">2</div>
        <div class="box">2</div>
        <div class="box">2</div>
        <div class="box">2</div>
        <div class="box">2</div>
      </div>
      <div class="boxes">
        <div class="box">3</div>
        <div class="box">3</div>
        <div class="box">3</div>
        <div class="box">3</div>
        <div class="box">3</div>
        <div class="box">3</div>
      </div>
      <div class="boxes">
        <div class="box">4</div>
        <div class="box">4</div>
        <div class="box">4</div>
        <div class="box">4</div>
        <div class="box">4</div>
        <div class="box">4</div>
      </div>
      <div class="boxes">
        <div class="box">5</div>
        <div class="box">5</div>
        <div class="box">5</div>
        <div class="box">5</div>
        <div class="box">5</div>
        <div class="box">5</div>
        <div class="box">5</div>
        <div class="box">5</div>
        <div class="box">5</div>
        <div class="box">5</div>
        <div class="box">5</div>
        <div class="box">5</div>
        <div class="box">5</div>
        <div class="box">5</div>
        <div class="box">5</div>
        <div class="box">5</div>
      </div>
    </div>
  </div>
</div>
