.main_container {
  height: 100vh;
  width: 100%;
  padding: 0 20px;
  background-image: linear-gradient(
    45deg,
    hsl(61deg 87% 49%) 0%,
    hsl(60deg 83% 57%) 27%,
    hsl(59deg 84% 61%) 39%,
    hsl(58deg 86% 66%) 48%,
    hsl(58deg 89% 69%) 55%,
    hsl(57deg 91% 73%) 62%,
    hsl(56deg 93% 76%) 69%,
    hsl(54deg 94% 79%) 75%,
    hsl(53deg 95% 81%) 82%,
    hsl(52deg 95% 84%) 90%,
    hsl(51deg 94% 86%) 100%
  );
  & .main {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    & .date_timer {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 30px;
      & .timer {
        display: flex;
        align-items: center;
        margin-top: 8px;
        gap: 5px;
        & strong {
          font-size: 24px;
        }
      }
      & .play,
      & .stop_play {
        font-size: 35px;
        color: #fff;
        background-color: #333;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
          rgba(0, 0, 0, 0.24) 0px 1px 2px;
        border-radius: 50%;
      }
      & img {
        cursor: pointer;
      }
    }

    & .box_container {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      overflow-x: scroll;
      margin: 0 auto;
      & .boxes {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;
        & .box {
          width: 130px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 5px;
          background-color: #fff;
          box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
            rgba(0, 0, 0, 0.24) 0px 1px 2px;
          cursor: pointer;
        }
        & .box:hover {
          opacity: 0.8;
        }
      }
    }
  }
  & .done_btn {
    width: 100%;
    display: flex;
    justify-content: center;
    & button {
      width: 150px;
      height: 45px;
    }
  }
}

@media (min-width: 676px) {
  .main_container {
    & .main {
      & .date_timer {
        width: 75%;
        margin-left: 100px;
      }
      & .box_container {
        width: 70%;
        & .boxes {
          gap: 20px;
          & .box {
            width: 150px;
            height: 40px;
          }
        }
      }
    }

// *******************************************************//
    & .disabled_overlay {
      // double check for width %
      width: 140%;
      height: 150%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(51, 51, 51, 0.329);
    }
  }
}

.disabled_overlay {
  // double check for width %
  width: 400%;
  height: 120%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(51, 51, 51, 0.329);
}
