<app-header></app-header>
<div class="setup_container">
  <div class="select_container">
    <!-- Song's number -->
    <div class="select">
      <span>*Song</span>
      <select class="form-select" aria-label="Default select example">
        <option selected>Select number of times</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
      </select>
    </div>

    <!-- Repeat number -->
    <div class="select">
      <span>*Repeat</span>
      <select class="form-select" aria-label="Default select example">
        <option selected>Select number of times</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
      </select>
    </div>

    <!-- Colors -->
    <div class="select">
      <span>*Color</span>
      <select class="form-select" aria-label="Default select example">
        <option selected>Select Color</option>
        <option value="pink">Pink</option>
        <option value="red">Red</option>
        <option value="yellow">Yellow</option>
        <option value="green">Green</option>
        <option value="blue">Blue</option>
      </select>
    </div>

    <!-- Start button -->
    <button type="button" class="btn btn-primary" (click)="onStart()">Start</button>
  </div>
</div>
