<div class="register_container">
  <form
    class="form"
    data-tilt
    data-tilt-max="3"
    data-tilt-glare="true"
    data-tilt-max-glare="0.2"
  >
    <div>
      <img src="../../../assets/logo.png" alt="" />
      <h2>PianoTick</h2>
    </div>
    <div class="form_container">
      <!-- Name -->
      <mat-form-field appearance="outline" class="input">
        <mat-label>
          <span class="material-symbols-outlined"> person </span>
          Username
        </mat-label>
        <input
          type="text"
          matInput
          placeholder="Enter your username"
          required
        />
      </mat-form-field>

      <!-- Password -->
      <mat-form-field appearance="outline" class="input">
        <mat-label>
          <span class="material-symbols-outlined">lock</span>
          Password
        </mat-label>
        <input
          type="password"
          autocomplete="password"
          matInput
          placeholder="Enter Password"
          required
        />
      </mat-form-field>
      <button mat-fab extended color="primary" class="register_btn">
        Register
      </button>
      <p class="suggestRegister">
        Already have an account?&nbsp; <a routerLink="/login">Login</a>
      </p>
    </div>
  </form>
</div>
